<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Разделите строку на пары из двух символов. Если строка содержит нечетное количество символов, пропущенный второй символ последней пары должен быть заменен подчеркиванием ('_').
</p>

<!-- Explain input and output values -->
<p>
    <strong>Входные данные:</strong> Строка.
</p>

<p>
    <strong>Выходные данные:</strong> {% if interpreter.slug == "js-node" %}Массив{% else %}Список или другой итеративный объект{% endif %} из строк.
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Пример:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Предварительное условие:</strong>
    <i>0 <= len(str) <= 100</i>
</p>
