<!-- Describe task in general -->

<p>
    Teilen Sie die Zeichenfolge in Paare von zwei Zeichen auf. Wenn die Zeichenfolge eine ungerade Anzahl von Zeichen enthält, sollte das fehlende zweite Zeichen des letzten Paares durch einen Unterstrich ('_') ersetzt werden.
</p>

<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> Eine Zeichenkette.
</p>

<p>
   <strong>Ausgabe:</strong> {% if interpreter.slug == "js-node" %}Ein Array{% else %}Eine Liste oder ein anderes Iterable{% endif %} von Strings.
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Beispiel:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Vorbedingung:</strong>
    <i>0 &lt;= len(text) &lt;= 100</i>
</p>
